img {
  width: 150px;
  margin-top: -50px;
  margin-bottom: -50px;
}
.nav-link {
  padding: 0px;
}

.nav-item {
  padding: 0px 10px 0px 10px;
}

#title {
  background-color: #144c9f;
}

.modal-lg {
  width: 650px;
}
